<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <section class='hSection1'>
        <div class='hDiv1'>
            <p>Simply type into the search bar on the home page the location you are looking for. If your desired location is not returned be more specific with your query providing the 'suburb, state, country'.</p>
            <p>This simple weather app takes advantage of the Weather Stack API to return weather data to you.</p>
        </div>
    </section>
    {{>footer}}
</body>
</html>