<div class='nav'>
    <div class='navDivOne'>
        <h1 class='navHeading'>{{title}}</h1>
    </div>
    <div class='navDivTwo'>
        <a href='/' class='navLink1'>Home</a>
        <a href='/about' class='navLink2'>About</a>
        <a href='/help' class='navLink3'>Help</a>
    </div>
</div>
    

