<div class='nav'>
    <div class='navDivOne'>
     <h1 class='navHeading'>{{title}}</h1>
    </div>
    <div class='navDivTwo'>
         <a href='/' class='navLink1'>Home</a>
        <a href='/help' class='navLink2'>Help</a>
    </div>
</div>
    

